<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div id ="table">
        <table>
            <tr v-for="item in model" v-on:click="text">
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.title}}
                </td>
                <td>
                    {{item.adress}}
                </td>
                <td>
                    {{item.age}}
                </td>
            </tr>
        </table>
        <div v-if="show">
            <textarea cols="30" rows="3" placeholder="Введите текст" v-model="message"></textarea>
            <button v-on:click="toSend">Ok</button>
        </div>
        <button v-on:click='add'>add row</button>
        <button v-on:click='remove'>remove row</button>
    </div>

    <script src="./main.js"></script>
</body>

</html>