<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div class="leftRight">
        <ul>
            <li v-for="item in leftList" v-on:click="remove( item, leftList )">
                {{item}}
            </li>
        </ul>
        <button v-on:click="moveL">Left</button>
        <hr>
        <ul>
            <li v-for="item in centerList" v-on:click="remove( item, centerList )">
                {{item}}
            </li>
        </ul>.
        <hr>
        <ul>
            <li v-for="item in rightList" v-on:click="remove( item, rightList )">
                {{item}}
            </li>
        </ul>
        <button v-on:click="moveR">Right</button>
    </div>
    <script src="./main.js"></script>
</body>
</html>